* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
}

nav {
  width: 100%;
}

.nav-links {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 20px;
  margin: 0;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links li a {
  text-decoration: none;
  padding: 10px 15px;
  display: inline-block;
}

.logo {
  border-radius: 25%;
  height: 50px;
  width: auto;
  display: block;
}

main {
  clear: both;
}

footer {
  text-align: center;
}
