* {
  margin: 0;
  padding: 0;
}

header {
  display: block;
  width: 100%;
}

main {
  display: block;
  clear: both;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: flex;
  margin-left: 20px;
  align-items: center;
  justify-content: space-between;
}

.nav-links li a {
  text-decoration: none;
  padding: 10px 15px;
  display: inline-block;
}

.logo {
  border-radius: 25%;
}
