header {
  width: 100%;
}

main {
  display: block;
  clear: both;
}

nav {
  width: 100%;
}

.nav-links {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 20px;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links li:last-child {
  margin-right: 0;
}

.nav-links li a {
  text-decoration: none;
  padding: 10px 15px;
  display: inline-block;
}

.logo {
  border-radius: 25%;
  height: 40px;
  vertical-align: middle;
}
