* {
  margin: 0;
  padding: 0;
}

header {
  display: block;
  width: 100%;
}

main {
  display: block;
  clear: both;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  margin-left: 20px;
}

.nav-links li a {
  text-decoration: none;
  padding: 10px 15px;
  display: inline-block;
}
