header {
  display: block;
  width: 100%;
}

main {
  display: block;
  clear: both;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 20px;
}

.nav-links li a {
  text-decoration: none;
  padding: 10px 15px;
  display: inline-block;
}

.logo {
  border-radius: 25%;
}
