@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Code", monospace;
}

html {
  background-color: #353535;
}

header {
  width: 100%;
}

main {
  background-color: #161616;
  padding-top: 10px;
  padding-bottom: 10px;
}

main *:last-child {
  margin-bottom: 0;
}

table,
th,
td {
  border: 2px solid #353535;
  border-collapse: collapse;
  color: #f2f4f8;
}

a {
  color: #ee5396;
}

a:visited {
  color: #be95ff;
}

a:hover {
  color: #33b1ff;
}

th,
td {
  padding: 7px;
}

ul {
  margin-left: 20px;
  color: #f2f4f8;
}

h1 {
  color: #be95ff;
}

h2 {
  color: #25be6a;
  margin: 3px;
}

h3 {
  color: #ee5396;
  margin: 3px;
}

h4 {
  color: #33b1ff;
  margin: 3px;
}

h5 {
  color: #2dc7c4;
  margin: 3px;
}

p {
  margin: 5px;
  color: #f2f4f8;
}

code {
  color: #f2f4f8;
}

.highlight {
  background-color: #353535;
  padding: 5px;
  margin: 5x;
  border-radius: 5px;
  overflow: scroll;
}

.nav-bar {
  background-color: #353535;
  width: 100%;
  overflow: scroll;
}

footer {
  background-color: #353535;
  color: #f2f4f8;
  text-align: center;
  padding: 10px;
  margin: 0;
  background-attachment: fixed;
}

.nav-links {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
}

.nav-links li {
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.nav-links li a {
  text-decoration: none;
  padding: 5px 5px;
  display: inline-block;
  align-content: center;
  font-size: 20px;
  font-weight: bold;
}

#link1 {
  color: #be95ff;
}

#link2 {
  color: #25be6a;
}

#link3 {
  color: #ee5396;
}

#link4 {
  color: #33b1ff;
}

#link5 {
  color: #2dc7c4;
}
