:root {
  --background: #161616;
  --foreground: #f2f4f8;
  --background-2: #353535;
  --foreground-2: #f2f4f8;
  --black: #282828;
  --red: #ee5396;
  --green: #46c880;
  --yellow: #2dc7c4;
  --blue: #8cb6ff;
  --magenta: #a27fd9;
  --cyan: #2b96d9;
  --white: #bebebe;
}
