.nav-bar {
  background-color: var(--background-2);
  overflow: scroll;
}

.nav-links {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
}

.nav-links li {
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.nav-links li a {
  text-decoration: none;
  padding: 5px 5px;
  display: inline-block;
  align-content: center;
  font-size: 20px;
  font-weight: bold;
}

#home-link {
  color: var(--magenta);
}

#youtube-link {
  color: var(--red);
}

#github-link {
  color: var(--green);
}

#source-link {
  color: var(--cyan);
}

#rss-link {
  color: var(--yellow);
}
