h1 {
  color: var(--yellow);
}

.post-container {
  margin-left: 10px;
  display: flex;
  align-items: baseline;
}

.post-meta {
  color: var(--foreground);
  padding-left: 5px;
}

.post-link {
  text-decoration: none;
}
