@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
@import '/style/colors.css';

* {
  margin: 0;
  padding: 0;
  font-family: 'Fira Code', monospace;
}

html {
  background-color: var(--background-2);
}

main {
  background-color: var(--background);
  padding-top: 10px;
  padding-bottom: 10px;
}

main *:last-child {
  margin-bottom: 0;
}

table,
th,
td {
  border: 2px solid var(--background-2);
  border-collapse: collapse;
  color: var(--forground);
}

a {
  color: var(--red);
}

a:visited {
  color: var(--magenta);
}

a:hover {
  color: var(--blue);
}
