th,
td {
  padding: 7px;
  color: var(--foreground);
}

ul {
  margin-left: 20px;
  color: #f2f4f8;
}

h1 {
  color: #be95ff;
}

h2 {
  color: #25be6a;
  margin: 3px;
}

h3 {
  color: #ee5396;
  margin: 3px;
}

h4 {
  color: #33b1ff;
  margin: 3px;
}

h5 {
  color: #2dc7c4;
  margin: 3px;
}

p {
  margin: 5px;
  color: #f2f4f8;
}

code {
  color: #f2f4f8;
}

.highlight {
  background-color: #353535;
  padding: 5px;
  margin: 5x;
  border-radius: 5px;
  overflow: scroll;
}
