<header class="page-header">
  <nav class="nav-bar">
    <ul class="nav-links">
      <li>
        <a id="home-link" href="/">Home</a>
      </li>
      <li>
        <a id="blog-link" href="/blog">Blog</a>
      </li>
      <li>
        <a id="about-link" href="/about">About</a>
      </li>
      <li>
        <a id="videos-link" href="https://youtube.com/@scrambalicious">Videos</a>
      </li>
    </ul>
  </nav>
  <a class="header-icon" href="/feed.xml">
    <img src="/assets/images/rss.png" />
  </a>
</header>
