<link rel="stylesheet" href="/style/header.css" />
<header>
  <nav class="nav-bar">
    <ul class="nav-links">
      <li>
        <a id="home-link" href="/">Home</a>
      </li>
      <li>
        <a id="youtube-link" href="https://youtube.com/@scrambalicious" target="_blank">Youtube</a>
      </li>
      <li>
        <a id="github-link" href="https://github.com/wstobb" target="_blank">Github</a>
      </li>
      <li>
        <a id="source-link" href="https://github.com/wstobb/website">Source</a>
      </li>
      <li>
        <a id="rss-link" href="/feed.xml">RSS</a>
      </li>
    </ul>
  </nav>
</header>
