<link rel="stylesheet" href="/assets/css/header.css" />
<header class="page-header">
  <img class="logo" src="/assets/images/logo.png" />
  <nav class="nav-bar">
    <ul class="nav-links">
      <li>
        <a id="home-link" href="/">Home</a>
      </li>
      <li>
        <a id="blog-link" href="/blog">Blog</a>
      </li>
      <li>
        <a id="about-link" href="/about">About</a>
      </li>
      <li>
        <a id="youtube-link" href="https://youtube.com/@scrambalicious">Youtube</a>
      </li>
    </ul>
  </nav>
  <a class="rss-link" href="/feed.xml">
    <img class="rss-icon" src="/assets/images/rss.png" />
  </a>
</header>
