.four-o-four,
.lame {
  text-align: center;
}

.four-o-four {
  font-size: 75px;
  font-weight: 900;
  margin: 10px;
  color: $red;
}

.lame {
  color: $foreground;
  margin: 10px;
}

.four-o-four-container {
  margin: 40px;
  padding: 15px;
  background-color: $black;
  border-radius: 20px;
  border: 5px solid $background-2;
}
