.four-o-four-container {
  @include flex-center(column);
  padding: 30px;
  .four-o-four {
    font-size: 60px;
    font-weight: bold;
    color: $red;
  }
  .lame {
    font-size: 20px;
    color: $foreground;
    padding: 20px;
  }
}
