@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

@import 'variables';
@import 'mixins';
@import 'header';
@import 'footer';
@import 'blog-page';
@import 'post';
@import '404';
html {
  font-size: $base-font-size;
  font-family: $base-font-family;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  min-height: calc(100vh - #{$header-height + $footer-height});
  background-color: $background;
}
