.blog-block {
  padding: 30px;
}

.blog-list {
  li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    padding: 15px;
    background-image: $block-gradient;
    border-radius: 10px;
    .post-container {
      @include flex-center(row);
      .post-link {
        color: $red;
        font-size: 22px;
        font-weight: bold;
        text-decoration: none;
        &:hover {
          color: $magenta;
        }
      }
      .post-meta {
        margin-left: 20px;
        color: $foreground;
      }
    }
  }
}
