.blog-block {
  display: flex;
  justify-content: center;
  padding: 15px;
}

.blog-list {
  list-style: none;
}

.post-container {
  display: flex;
  align-items: center;
  margin: 10px;
  background-color: $black;
  padding: 10px;
  border-radius: 10px;
  border: 5px solid $background-2;
}

.post-link {
  color: $red;
  text-decoration: none;
}

.post-link:hover {
  color: $magenta;
}

.post-link:visited {
  color: $blue;
}

.post-meta {
  margin-left: 20px;
  color: $foreground;
}
