.page-footer {
  @include flex-center(column);
  justify-content: space-around;
  background-image: linear-gradient(to top, $background-2, $black);
  height: $footer-height;
  color: $foreground;
  overflow: scroll;
  .copyright {
    font-size: 18px;
    a {
      @include footer-link-coloring;
    }
  }
}

.footer-links {
  @include flex-center(row);
  justify-content: center;
  li {
    list-style: none;
    padding: 0px 10px;
    a {
      @include footer-link-coloring;
    }
  }
}
