.page-header {
  @include flex-center(row);
  justify-content: space-between;
  background-image: linear-gradient(to bottom, $background-2, $black);
  padding: 0px 5px;
  height: $header-height;
  overflow: scroll;
}

.nav-links {
  @include flex-center(row);
  li {
    list-style: none;
    margin-right: 10px;
    a {
      padding: 5px;
      text-decoration: none;
      border-radius: 5px;
      font-weight: bold;
      font-size: 20px;
      @include link-transition;
    }
    $link-colors: (
      'home': $magenta,
      'blog': $green,
      'about': $blue,
      'videos': $red,
    );
    @each $name, $color in $link-colors {
      ##{$name}-link {
        color: darken($color, 35%);
        @include gradient($color, darken($color, 10%));
        &:hover {
          @include gradient(lighten($color, 10%), $color);
        }
      }
    }
  }
}

.header-icon {
  @include image-link-center;
  border-radius: 5px;
  border: $border-style;
  img {
    height: 30px;
    width: auto;
  }
}
