.rss-icon,
.logo {
  width: 35px;
  height: auto;
  border: 5px solid $black;
  border-radius: 5px;
}

.rss-link {
  display: flex;
  align-items: center;
}

.page-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: $background-2;
  height: 35px;
  border-bottom: 5px solid $black;
  overflow: scroll;
}

.nav-bar {
  margin-left: 0;
}

.nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  margin-left: 0px;
  padding-left: 0px;
}

.nav-links li {
  margin-right: 10px;
  margin-left: 10px;
}

.nav-links li a {
  font-size: 18px;
  text-decoration: none;
  color: $foreground;
  font-weight: 600;
  padding: 5px;
  border-radius: 5px;
}

#home-link {
  background-color: $magenta;
}

#blog-link {
  background-color: $green;
}

#about-link {
  background-color: $blue;
}

#youtube-link {
  background-color: $red;
}

.page-footer {
  background-color: $background-2;
  padding: 10px;
  height: 60px;
  border-top: 5px solid $black;
}

.copyright {
  text-align: center;
  color: $foreground;
}

.footer-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  justify-content: center;
}

.footer-links li {
  margin-left: 10px;
  margin-right: 10px;
}

.footer-links li a {
  color: $foreground;
}

.footer-links li a:hover {
  color: $white;
}
