@mixin flex-center($direction) {
  display: flex;
  align-items: center;
  flex-direction: $direction;
}

@mixin image-link-center {
  display: flex;
  align-items: center;
}

@mixin link-transition($property: all) {
  transition: $property 0.3s ease;
}

@mixin border($color) {
  border: 5px solid $color;
}

@mixin gradient($color1, $color2) {
  background-image: linear-gradient(to bottom, $color1, $color2);
}

@mixin footer-link-coloring {
  color: $foreground;
  @include link-transition;
  &:hover {
    color: $white;
  }
}

@mixin link-coloring {
  color: $red;
  &:hover {
    color: $magenta;
  }
}
