.post-content {
  padding: 10px;
  $heading-colors: (
    h1: $magenta,
    h2: $green,
    h3: $blue,
    h4: $red,
    h5: $yellow,
  );
  @each $heading, $color in $heading-colors {
    #{$heading} {
      color: $color;
    }
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  p {
    padding: 5px;
  }
  p,
  code,
  li {
    color: $foreground;
  }
  li {
    margin-left: 20px;
  }
  .highlight {
    background-image: $block-gradient;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    overflow: scroll;
    .highlight {
      padding: 0;
      border: 0;
      margin: 0;
    }
  }
}
