$base-font-family: 'Fira Code', monospace;
$base-font-size: 16px !default;
$base-font-weight: 500 !default;

$background: #161616;
$foreground: #f2f4f8;
$background-2: #353535;
$black: #282828;
$red: #ee5396;
$green: #46c880;
$yellow: #2dc7c4;
$blue: #8cb6ff;
$magenta: #a27fd9;
$cyan: #2b96d9;
$white: #bebebe;

$header-height: 50px;
$footer-height: 70px;
$border-style: 5px solid $black;
$block-gradient: linear-gradient(to bottom, $background-2, $black);
