@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Fira Code', monospace;
}

:root {
  --background: #161616;
  --foreground: #f2f4f8;
  --background-2: #353535;
  --black: #282828;
  --red: #ee5396;
  --green: #46c880;
  --yellow: #2dc7c4;
  --blue: #8cb6ff;
  --magenta: #a27fd9;
  --cyan: #2b96d9;
  --white: #bebebe;
}

main {
  min-height: calc(100vh - 155px);
  background-color: var(--background);
  padding: 5px;
}
