<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/default.css" />
    <link rel="icon" href="/favicon.png" />
  </head>
  <body>
    <header>
      <nav>
        <ul class="nav-links">
          <li>
            <a href="/index"><img src="/static/logo.png" alt="My logo" /></a>
          </li>
          <li>
            <a href="/blog">Blog</a>
          </li>
          <li>
            <a href="https://youtube.com/@scrambalicious" target="_blank"
              >Youtube</a
            >
          </li>
          <li>
            <a href="https://github.com/wstobb" target="_blank">Github</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>{{ content }}</main>
    <footer>
      <p>&copy; 2025 William Stobb. GPL-3.0</p>
    </footer>
  </body>
</html>
